.perfil-contenedor{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;
}

.perfil-p{
  margin-top: 1.5rem;
  color: #f75a27;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.profile-input {
  margin-top: 0rem;
  padding: 0.5rem;
  border: solid 1px transparent;
  border-radius: 5px;
  background-color: #f8f8f8;
  outline: none;
  font-size: 1rem;

  font-family: "Heebo", sans-serif;
  font-weight: 300;
  color: #202020;
  width: 100%;
}

.profile-title{
  margin-top: 1.5rem;
  color: #202020;
  font-weight: bold;
  font-size: 1rem;
}

.perfil-contenedor i {
  font-size: 6rem;
  color: #f0f0f0;
  z-index: -2;
}

.flex-center-container{
  display: flex;
  justify-content: center;
}


@media(max-width: 768px) {

  .circulo {
    width:60px;
    height: 60px;
  }
  
  .logo{
    font-size: 30px;
  }
  
  .slogan{
    font-size: 12px;
  }
}