doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    script(src="/bootstrap/js/bootstrap.bundle.min.js")

    link(rel="stylesheet" href="/css/login.css")

    script(defer src="/js/backToMainMenu.js")
    script(src="https://kit.fontawesome.com/a2ec7d5873.js" crossorigin="anonymous")

  body
    div.container-elements-login
      div.login-center-elements
        div.contendor-logotipo
          div.container-logo-slogan
            p.logo LOG IN
            p.slogan TO ENTER SOCIETY
          div.circle

        - if (errorMessage)
          div(class="alert alert-danger alert-dismissible" role='alert')
            button(class='btn-close' data-bs-dismiss='alert')
            | #{errorMessage}
        div.login-contenedor-icono-email
          image(src="/images/emailGif.gif").icono-email
        div
          p.login-text Enter the token received to complete the two-factor authentication.

        form(action='/validate-login-token' method='POST').login-form
          input(type='text' name="token" placeholder='Token').login-input

          div.login-container-buttons
            button(type="submit").login-button Verify Token