.footer
  div.footer-contenedor
    div
      p.footer-item-text Copyright © 2023 Society. 
    div
      p.footer-item-text Todos los derechos reservados.
    div
      a(href="https://github.com/bragr05")
        i.fa-brands.fa-github.footer-item